In [ ]:
# Find nearest neighbors in location space --> gather statistics

In [18]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd

import scanpy as sc

import cudf
import cugraph
from cuml.neighbors import NearestNeighbors
import cupy as cp

%matplotlib inline
from matplotlib import pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
!ls tests/

dataset.h5ad  test_clustering__encode_slide.ipynb  test_data__pull_nuclei.ipynb
dataset.hdf5  test_clustering__simCLR.ipynb	   test_imports.ipynb
f.h5ad	      test_clutering__tsne_leiden.ipynb    trained_simclr

In [4]:
ad = sc.read_h5ad("tests/dataset.h5ad")
ad

AnnData object with n_obs × n_vars = 146791 × 40
    obs: 'mean_leiden', 'z_leiden'
    uns: 'mean_leiden_colors', 'source_data', 'z_leiden_colors'
    obsm: 'coordinates'

In [23]:
?NearestNeighbors.kneighbors

In [24]:
coords = ad.obsm['coordinates']

X_cudf = cudf.DataFrame(coords)
model = NearestNeighbors(n_neighbors=6)
model.fit(coords)

# kn_graph = model.kneighbors_graph(X_cudf)
distances, indices = model.kneighbors(X_cudf)

In [25]:
distances

          0          1          2          3          4          5
0       0.0  34.000000  41.569221  54.000000  60.166431  75.286125
1       0.0  33.585709  53.814491  53.888775  54.147942  71.161789
2       0.0  33.541016  37.643063  42.720020  43.081318  43.416584
3       0.0  34.813789  52.801514  60.365555  62.833111  70.199715
4       0.0  24.979990  29.529644  41.182518  54.221767  66.090843
...     ...        ...        ...        ...        ...        ...
146786  0.0  16.970564  28.844412  28.844412  28.844412  35.777088
146787  0.0  27.129320  28.844412  34.871193  35.777088  43.451118
146788  0.0  23.323807  30.983868  32.496151  46.989361  53.366653
146789  0.0  25.922962  34.871193  36.660606  38.366653  41.952351
146790  0.0  11.313708  27.129320  34.871193  36.221539  39.191837

[146791 rows x 6 columns]

In [26]:
indices

             0       1       2       3       4       5
0            0      48     144       6     198     386
1            1      80     222      56     300     136
2            2     188     131     203      94      31
3            3     168     155     381     115     413
4            4      77      78     254     240     109
...        ...     ...     ...     ...     ...     ...
146786  146786  146693  146771  146601  146624  146787
146787  146787  146693  146517  146601  146786  146775
146788  146788  146759  146717  146496  146383  146329
146789  146789  146718  146790  146727  146479  146448
146790  146790  146727  146705  146789  146448  146555

[146791 rows x 6 columns]